body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
}
#button1 {
  border: none;
  color: aliceblue;
  background-color: #051937;
  width: 100px;
  padding: 7px;
  border-radius: 20px;
}
#button2 {
    color: aliceblue;
  background-color: #008793;
  width: 100px;
  padding: 7px;
  border-radius: 20px;
  border: none;
}
